html {
    font-family: Arial;
    text-align: center;
}

body {
    margin: 0;
    background-color: #464A54;
    box-sizing: border-box;
}

#Cabecera {
    margin: 0;
    color: #1066a9;
    padding: 4rem;
}   

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.flex-box {
    width: calc(33.33% - 20px);
    height: 100px;
    margin: 10px;
    margin-bottom: 20px; 
    background: linear-gradient(grey);
    position: relative; 
} 

.lamp-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.lamp {
    position: relative;
    margin: 0 auto;
    width: 0.7rem;
    height: 10rem;
    background-image: 
        linear-gradient(#000000b3, #000000b3),
        linear-gradient(#000000b3, #000000b3),
        linear-gradient(#000000b3, #000000b3);
    background-repeat: no-repeat;
    background-size: 
        0.15rem 8rem,
        0.4rem 0.8rem,
        0.7rem 2rem;
    background-position: 
        50% 0,
        0.14rem 8rem,
        0 8.8rem;
}

.lamp:before,
.lamp:after {
    content: "";
    position: absolute;
}

.lamp:before {
    left: -1.65rem;
    bottom: -4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #ffffff08;
    box-shadow: inset 2px -2px 10px #ffffff12;
    transition: all 2s;
   
}

.light,
.light:before {
    position: absolute;
}

.light {
    top: 10.05rem;
    left: 0.3rem;
    width: 0;
    height: 1.5rem;
    border-right: 0.2rem solid #ffffff0d;
}

.light:before {
    content: "";
    top: 1.5rem;
    left: -0.55rem;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    border: 0.2rem solid #ffffff0d;
    box-shadow: 0px 0px 50px #ffffff00;
    
}

.switch { 
    position: absolute;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    appearance: auto;
} 

input:checked~.lamp:before {
    background: #ffffff;
    box-shadow: 
        0px 2px 10px #ffffffcc,
        0px 5px 50px #ffffffcc,
        0px 8px 80px #ffffff99,
        0px 8px 120px #ffffff99;
}

input:checked~.lamp .switch {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
